body {
	text-align: center;
}

ul{
	list-style: none;
}

header{
	color: #F7E3E6;
	padding: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://static.pexels.com/photos/62277/pexels-photo-62277.jpeg);
	background-size: cover;
}

body {
    font-family: 'Poiret One', cursive;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,ff7cd8+100 */
    background: #fcecfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcecfc 0%, #ff7cd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcecfc 0%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcecfc 0%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */	
}
.container {
    width: 1200px;
    margin: 0 auto 50px;
    text-align: left;
}
ul {
    list-style: disc;
}
.container p {
    font-weight: bold;
    font-size: 30px;
}
