@charset "utf-8";
.nav a {
  color: #black;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url(https://static.pexels.com/photos/291/black-and-white-city-landmark-lights.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}


.jumbotron h1 {
  color: #00b0ff;
  font-size: 40px;  
 font-family: 'Hind', sans-serif;
  font-weight: regular;
}

.jumbotron p {
  font-size: 25px;
  color: #white;
}

.learn-more {
  background-color: #white;
}

.learn-more h3 {
  font-family: 'Hind', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.learn-more a {
  color: #white;
}

.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 20px;

}

.neighborhood-guides p{
     font-size: 20px;
    margin-bottom: 13px;    
}/* CSS Document */
